.node {
  width: var(--width);
  height: var(--height);
  border: 1px solid #0d4776;
  display: inline-block;
}

.node-start {
  background-image: url('../../images/start.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: greenyellow;
}

.node-finish {
  background-image: url('../../images/target.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.node-finish-reached {
  animation-name: finishVisitedAnimation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.node-wall {
  width: var(--width);
  height: var(--height);
  background-color: #267ee9;
  border: 1px solid #267ee9;
  display: inline-block;
  animation: node-wall-animation ease;
  animation-duration: 0.5s;
}

@keyframes node-wall-animation {
  0% {
    background-color: #43cea2;
    border: 1px solid #43cea2;
  }

  50% {
    background-color: #33a3a3;
    border: 1px solid #33a3a3;
  }

  75% {
    background-color: #338ba3;
    border: 1px solid #338ba3;
  }

  100% {
    background-color: #267ee9;
    border: 1px solid #267ee9;
  }
}

.node-wall-animated {
  width: var(--width);
  height: var(--height);
  display: inline-block;
  animation-name: wallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.4);
    background-color: #43cea2;
    border: 1px solid #43cea2; 
    border-radius: 30%;
  }

  50% {
    transform: scale(0.6);
    background-color: #33a3a3;
    border: 1px solid #33a3a3; 
    border-radius: 20%;
  }

  75% {
    transform: scale(0.8);
    background-color: #338ba3;
    border: 1px solid #338ba3; 
    border-radius: 10%;
  }

  100% {
    transform: scale(1);
    background-color: #267ee9;
    border: 1px solid #267ee9;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: rgb(255, 226, 4);
    border-radius: 75%;
  }

  75% {
    transform: scale(0.7);
    background-color: rgb(0, 191, 255);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 255, 255);
  }
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.3);
    background-color: #fe0000;
    border-color: #fe0000;
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: #f48882;
    border-color: #f48882;
    border-radius: 75%;
  }

  75% {
    transform: scale(0.7);
    background-color: #eba10d;
    border-color: #eba10d;
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: hsl(52, 100%, 51%);
    border-color: hsl(52, 100%, 51%);
  }
}

@keyframes finishVisitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: red;
    border-radius: 50%;
  }

  50% {
    transform: scale(0.8);
    background-color: red;
    border-radius: 25%;
  }

  75% {
    transform: scale(1.23);
    background-color: red;
    border-radius: 20%;
  }

  100% {
    transform: scale(1);
    background-color: red;
  }
}


